.container > .asteroid{
    border:thin solid green;
}

.big{
    color:blue;
}

.asteroid{
    font-weight:bold;
}

.b329{
    background:none;
}

p {
    background:yellow;
    font-weight:normal;
}